<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Numeros_Geneticos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Numeros_Geneticos.Properties.Settings>
            <setting name="UseSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>27121995</value>
            </setting>
            <setting name="IndividualsPerGeneration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectionsByElitism" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxTotalGenerations" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TotalChromosomes" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SecondaryMutationChromosomesAmount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="InitialNumberChromosomesAmount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ElitismChromosomeChance" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MutationChance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MaxMutableChromosomes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ChromosomesMatchesToConcludeSimilar" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SimilarAmountToConcludeUniformity" serializeAs="String">
                <value>4</value>
            </setting>
        </Numeros_Geneticos.Properties.Settings>
    </userSettings>
</configuration>